print    0,0,Start-@File@

set あ,300
print   0,20,@あ@
set い,500
print   0,40,@い@
set あ,0
print   0,60,@あ@

square 50,50,60,60

setcolor 255,00,00
circle 50,50,60,60

set 変数,祇園精舎の鐘の声、諸行無常の響きあり。<br>祇園精舎は、古代インドのコーサラ国にあったお寺で、お釈迦様が説法を行った場所。
alert @変数@
